.gradio-container{
    max-width:1700px !important;
    margin:0 auto;
    background: #f3f4f6;
}

.app-header span h1{
    margin-bottom: 0px !important;
    width: 50%;
    position: relative;
}
.app-header span { 
    display: flex; 
    justify-content: space-between; 
    flex-direction: column;
}
.app-header span > p:first-of-type { 
    font-size:12px;
    margin: 0 5px 20px;
} 
.app-header span > p:last-child { 
    font-size: 9px;
    position: absolute;
    top: -15px;
    right: 0px;
    display: flex;
    gap: 5px;
}


footer{
    display:none !important;
}
